{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block metadescription %}
    Change your password to keep your account secure. 
{% endblock %}
{% block title %}
    Change Password - Automatic Irrigation Systems
{% endblock %}
{% block content %}
<div>
  <div class="mx-auto">
    <br />
    <h1 class="my_title text-center">Change Password</h1>
    <br />
    <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
      <br />
      <p>Enter your current password and a new one to update your account security.</p>
      <form method="post">
        <p>{{ form | crispy }}</p>
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">
          Update Password
        </button>
      </form>
      <br />
      <!-- Forgot Password Button -->
      <p class="text-center">
        <a href="{% url 'password_reset' %}" class="btn btn-link">
          Forgot Password?
        </a>
      </p>
    </div>
  </div>
</div>
<br />
{% endblock %}
