{% extends "base.html" %}
{% block metadescription %}
    Password successfully changed. Keep your account secure.
{% endblock %}
{% block title %}
    Password Changed - Perfect Cushion Store
{% endblock %}
{% block content %}
<div>
  <div class="mx-auto">
    <br />
    <h1 class="my_title text-center">Password Changed</h1>
    <br />
    <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
      <br />
      <p>Your password has been updated successfully. You can now use your new password to log in.</p>
      <a href="{% url 'home' %}" class="btn btn-secondary btn-block">Return to Home</a>
      <br />
    </div>
  </div>
</div>
<br />
{% endblock %}
