{% extends "base.html" %}
{% load static %}
{% block title %}
Automated Irrigation Systems
{% endblock %}
{% block content %}
    <header>
        <div class="d-flex justify-content-center align-items-center logo-img">
            <h1 class="text-center overlay-text">Automatic Irrigation Systems</h1>
        </div>
    </header>
    <div class="row content">
        <div class="container">
            <br>
            <div class="row">
                {% for cat in category %}
                    <div class="col-9 col-lg-4 col-sm-12 col-md-4">
                        <div class="card text-center" style="min-width:5rem;">
                            <a class="img" href="{% url 'shop:products_by_category' cat.slug %}">
                                <div class="image-container">
                                    <img class="card-img-top my_image dimmed-image fixed-size-image" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                    <div class="overlay">
                                        <div class="text">{{ cat.name }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="description-img">
        <p class="text-justify">
        Timely irrigation of lawns, fields, vegetable gardens, orchards or flower beds is the basis for their impeccable appearance and high crop yields. Manual sprinkling is unlikely to be effective, and is generally impractical over a large area. Automatic irrigation will help to minimise labour resources. You can buy equipment for its implementation inexpensively in our online store.
        </p>
        <p class="text-justify">
            It is impossible to create an emerald lawn on the site, to improve the quality of the plants grown without replenishing the moisture in the soil. Especially in dry summers or in spring after a snowy winter. The automatic irrigation system demonstrates a lot of advantages here:
        </p>
        <ul>
            <li>Saving time on site maintenance</li>
            <li>Saving money invested in sowing, landscaping, and landscape design</li>
            <li>Uniform irrigation of the soil without erosion, deformation, and leaching of nutrients</li>
        </ul>
        <p class="text-justify">
            All of these factors indirectly increase the value of your land for possible sale, contribute to the saturation of the soil with nutrients, which directly affects fertility.
        </p>
        <p class="text-justify">
            Manufacturers offer irrigation systems of various configurations, capacities and throughput. You can buy automatic irrigation for a greenhouse, for a small lawn, indoor plants on the veranda, or for a separate bed or a whole field.
        </p>
    </div>
{% endblock %}
