{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Automated Irrigation Systems offers a wide range of products to suit your needs. From irrigation systems to garden tools, we have everything you need to keep your garden looking its best.
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Automated Irrigation Systems
    {% else %}
        Our Products Collection - Automated Irrigation Systems
    {% endif %}
{% endblock %}
{% block content %}
    <!--Breadcrumb navigation-->
    {% comment %} {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:cat_list' %}">Home</a> > {{category.name}}</p>
            </div>
        </div>
    {% endif %} {% endcomment %}
    <header>
        <div class="d-flex justify-content-center align-items-center logo-img cat-img" style="background-image: url('{{ category.image.url }}');">
            <h1 class="text-center overlay-text">{{category.name}}</h1>
        </div>
    </header>
    <br><br>
    <div class="container-fluid">
        <div class="row mx-auto my-auto">
            {% for product in prods %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card text-center fixed-size-card">
                        <a class="img" href="{% url 'shop:product_detail' product.category.slug product.id %}">
                            <img class="card-img-top fixed-size-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <p>€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if prods.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                    {% for pg in prods.paginator.page_range %}
                        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif%}">{{pg}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}
